---
interface Props {
  region: string;
  queryDuration: number;
  d1Duration: number;
  isPrimary: boolean;
}

const { region, queryDuration, isPrimary, d1Duration } = Astro.props;
---

<div class="text-sm text-gray-600 p-2 bg-gray-100 rounded-md inline-block">
  <span
    class="font-medium"
    title="The geographic location of the database server">DB Region:</span
  >
  <span>{region}</span> |
  <span
    class="font-medium"
    title="Indicates whether this is a primary database or a read replica"
    >Type:</span
  >
  <span class={isPrimary ? "text-blue-600" : "text-green-600"}>
    {isPrimary ? "Primary" : "Replica"}
  </span> |
  <span class="font-medium" title="Time taken to execute the database query"
    >D1 Query Duration:</span
  >
  <span>{queryDuration.toFixed(2)}ms</span> |
  <span
    class="font-medium"
    title="Total time taken by D1 operations including connection and query execution"
    >D1 Total Duration:</span
  >
  <span>{d1Duration.toFixed(2)}ms</span>
</div>
