---
interface Props {
  region: string;
  queryDuration: number;
  d1Duration: number;
  isPrimary: boolean;
}

const { region, queryDuration, isPrimary, d1Duration } = Astro.props;
---

<div class="text-sm text-gray-600 p-2 bg-gray-100 rounded-md inline-block">
  <span class="font-medium">DB Region:</span>
  {region} |
  <span class="font-medium">Type:</span>
  <span class={isPrimary ? "text-blue-600" : "text-green-600"}>
    {isPrimary ? "Primary" : "Replica"}
  </span> |
  <span class="font-medium">Query Time:</span>
  {queryDuration.toFixed(2)}ms |
  <span class="font-medium">D1 Duration:</span>
  {d1Duration.toFixed(2)}ms
</div>
